# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS System Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Log files
*.log

# Temp / Local config (jika nanti menggunakan .env)
.env
.env.local
.env.*.local
